@import '../../abstracts/index';

.order-container {
      max-width: 99.1rem;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 3fr 1fr;
}

.order-number {
      max-width: 99.1rem;
      margin: 0 auto;
      font-size: 1.4rem;
      letter-spacing: 0.15rem;
      font-weight: 500;
}

.order-link-container {
      max-width: 94rem;
      margin: 3rem auto;
      display: flex;
      flex-grow: 0;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-basis: auto;
      gap: 1rem;

}

@media only screen and (max-width: $mediaLDevices) {
      .order-container {
            grid-template-columns: 1fr;
            grid-auto-rows: min-content;
      }
}