.error {
      &__list {
            list-style: none;
      }

      &__message {
            height: 2rem;
            margin-bottom: 0.2rem;
            font-size: 1.3rem;
            visibility: hidden;

            &--red {
                  color: #d50000;
            }

            &--visible {
                  visibility: visible;
            }
      }
}
