.controlls-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
}

.instruction {
      font-size: 1.3rem;
}

// .input-button {
//       display: inline-block;
//       padding: 1rem 2rem;
//       color: white;
//       background-color: #659c83;
//       border: 1px solid #659c83;
//       border-radius: 5px;
//       cursor: pointer;
// }