$mediaXSDevices: 575.98px;
// Small devices (landscape phones, less than 640px)
$mediaSDevices: 639.98px;
// Small devices (landscape phones, less than 768px)
$mediaMDevices: 767.98px;
// Medium devices (tablets, less than 992px)
$mediaLDevices: 991.98px;
// Large devices (desktops, less than 1280px)
$mediaXLDevices: 1279.98px;