@import "../../../../abstracts/index";

.validation {
      &__heading {
            font-size: 1.3rem;
            color: $main-dark-blue;
            height: 2rem;
            margin-bottom: 0.2rem;

            &_error {
                  color: $inputErrorFontColor;
            }
      }

      &__list {
            list-style: none;
      }

      &__item {
            font-size: 1.3rem;
            display: flex;
            align-items: center;
            color: $inputErrorFontColor;
            transition: color 0.3s;

            &--valid {
                  color: $light-green;
            }
      }

      &__icon {
            margin-right: 0.5rem;
            font-weight: 600;
      }

      &__message {
            white-space: nowrap;
      }
}
