@import '../../../abstracts/index';

.button-container {
      margin-top: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1rem;
}

.card-heading {
      font-size: 1.4rem;
      color: $inputErrorFontColor;
      text-decoration: underline;
}

.card-info {
      display: grid;
      grid-template-columns: 30% 70%;
      grid-template-rows: repeat(4, 1fr);
      margin-bottom: 1.5rem;
      color: $inputErrorFontColor;
}

.label {
      font-size: 1.3rem;
}

.info {
      font-size: 1.3rem;
}