.input-list {
      list-style: none;
      text-decoration: none;
}

.container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
}

.instruction {
      font-size: 1.35rem;
}

.divider {
      height: 2rem;
}