@import '../../../abstracts/index';

.section {
      max-width: 1280px;
      margin: 8rem auto;

      &__container {
            margin: 0 2rem;
            padding: 2rem 0;
      }
}

.title {
      margin: 4rem 0 7rem 0;
      text-align: center;

      &__text {
            font-size: 3rem;
            position: relative;

            &--secondary {
                  font-size: 2rem;
            }

            &::after {
                  content: "";
                  position: absolute;
                  left: 50%;
                  bottom: -20%;
                  transform: translate(-50%, -50%);
                  background-color: $main-yellow;
                  width: 50%;
                  height: 0.4rem;
                  z-index: 1;
            }
      }
}

.title-secondary {
      margin: 4rem 0 7rem 0;
      text-align: center;

      &__text {
            font-size: 2rem;
            position: relative;

            &::after {
                  content: "";
                  position: absolute;
                  left: 50%;
                  bottom: -20%;
                  transform: translate(-50%, -50%);
                  background-color: $main-yellow;
                  width: 30%;
                  height: 0.4rem;
                  z-index: 1;
            }
      }
}

