.button {
      margin: 1rem 0;
      // padding: 0.5rem 1rem;
      padding: 1rem 2rem;
      align-self: center;
      min-width: 4.7rem;
      // font-weight: 600;
      font-size: 1.7rem;
      border-radius: 0.5rem;
      display: block;
      box-sizing: border-box;
      color: white;
      cursor: pointer;

      &--green {
            background-color: #659c83;
            border: 1px solid #659c83;
      }

      &--red {
            background-color: #fa8171;
            border: 1px solid #fa8171;
      }

      &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
      }
}
