@import "../../../abstracts/index";

.field-name {
      display: block;
      padding: 0.5rem 0;
      font-weight: 400;
}

.select-input {
      width: 100%;
      display: block;
      resize: none;
      padding: 0.7rem;
      outline: none;
      border: 1px solid #ccc;
      font-family: "Popins", sans-serif;
      border-radius: 0.2rem;
      color: $inputFontColor;
      background-color: $inputBackground;

      &:disabled {
            cursor: not-allowed;
      }

      &--error {
            box-shadow: 0 0 4px 0 #d50000;
            color: $inputErrorFontColor;
            background-color: $inputErrorBackground;
            border-color: $inputErrorBorderColor;
            &::placeholder {
                  color: $inputErrorPlaceholderFontColor;
            }
      }
}
