@import "../../../../abstracts/index";

.list {
      &__heading {
            font-size: 1.3rem;

            &--error {
                  color: $inputErrorFontColor;
                  display: flex;
                  align-items: center;
            }
      }

      &__container {
            text-decoration: none;
      }

      &__item {
            font-size: 1.3rem;
            padding: 0.2rem 0;
            overflow-wrap: break-word;
            word-wrap: break-word;
            list-style: none;
            &::before {
                  content: "\2022";
                  font-size: 1em;
                  margin-right: 0.5rem;
            }
      }

      &__item--error {
            color: $inputErrorFontColor;
      }
}

.button-clear {
      font-size: 1.3rem;
}